@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-primary: #5183e5;
	--color-surface: #e4eefe;
	--color-surface-variant: #c0d6fa;
	--color-on-surface: #1f1f1f;
}

body {
	margin: 0;
	overflow: hidden;
	background: transparent;
	color: var(--color-on-surface);
}
#root {
	background: transparent;
}
/* Dark mode overrides */
.dark, .darkMode {
	color-scheme: dark;
	color: white;
}

.dark .prose {
	--tw-prose-body: var(--color-on-surface);
	--tw-prose-headings: var(--color-on-surface);
	--tw-prose-lead: var(--color-on-surface);
	--tw-prose-links: var(--color-primary);
	--tw-prose-bold: var(--color-on-surface);
	--tw-prose-counters: var(--color-on-surface);
	--tw-prose-bullets: var(--color-on-surface);
	--tw-prose-hr: var(--color-surface-variant);
	--tw-prose-quotes: var(--color-on-surface);
	--tw-prose-quote-borders: var(--color-surface-variant);
	--tw-prose-captions: var(--color-on-surface);
	--tw-prose-code: var(--color-on-surface);
	--tw-prose-pre-code: var(--color-on-surface);
	--tw-prose-pre-bg: var(--color-surface-variant);
	--tw-prose-th-borders: var(--color-surface-variant);
	--tw-prose-td-borders: var(--color-surface-variant);
}

.darkMode [class^='text-'],
.darkMode .text-primary {
	color: #fff !important;
}
.darkMode .bg-white [class^='text-'],
.darkMode .bg-white .text-primary {
	color: #000 !important;
}

.darkMode textarea,
.darkMode input,
.darkMode select {
	background-color: inherit;
}